*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans',sans-serif;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
    background: url('../imagen/fondo.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper .sidebar{
    background: rgb(7,105,187,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.wrapper .sidebar .profile h3{
  color: #ffff;
  margin: 10px 0 5px;
}
.wrapper .sidebar .profile p{
  color: rgb(206,204,253);
  font-size: 14px;
}
.wrapper .sidebar .logo img{
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 20%;
  margin: 0 auto;
  margin-top: 10px;
}
.wrapper .sidebar ul li{
  padding-top: 5px;
  padding-left: 15px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: green;
    background: #fff;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    border-left: solid 15px ;
}

.wrapper .sidebar .inputfield{
  text-align: center;
  padding-top: 25px;
}
.wrapper .sidebar .inputfield .btn{
  width: 60%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  green;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
}

.wrapper .sidebar ul li a:hover{
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5,68,104);
}
.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color:  white
}
body.active .wrapper .sidebar{
    left: -300px
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

.register{
    max-width: 400px;
    width: 100%;
    height: 450px;
    background: rgb(7,105,187,0.8);
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
    margin-top: 50px;
  }
  .register .logo img{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 3px;
  }
  .title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    color: rgb(241, 237, 237);
    text-transform: uppercase;
    text-align: center;
  }
  
  .register .title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(241, 237, 237);
    text-transform: uppercase;
    text-align: center;
  }
  
  .register .form{
    width: 100%;
  }
  
  .register .form .inputfield{
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
  
  .register .form .inputfield label{
    width: 200px;
    color: rgb(241, 237, 237);
    font-size: 14px;
    padding-top: 20px;
  }
  
  .register .form .inputfield .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  
  .register .form .inputfield .custom_select{
    width: 100%;
    height: 37px;
    margin-top: 10px;
  }
  
  .register .form .inputfield .custom_select select{
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  .register .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #dd0a0a;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .register .form .inputfield .btn:hover{
    background:#a50b0b;;
  }
  
  .register .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .register .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .register .form .inputfield label{
      margin-bottom: 5px;
    }
    .register .form .inputfield.terms{
      flex-direction: row;
    }
  }