<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/recolector_html.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recolector</title>
</head>
<body> 
    <div class="container">

        <div class="wrapper">
            <div class="sidebar">
                <!--Perfil imagen-->
                <div class="profile">
                    <img src="{% static 'imagen/perfil.jpg' %}" alt="">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <p>{{user.email}}</p>
                </div>
                <!--Menu item-->
                <ul>
                    <li><a href="#" class="active">
                        <span class="item">Editar perfil</span>
                    </a></li>
                    <li><a href="#">
                        <span class="item">Ingresar residuos</span>
                    </a></li>
                    <li><a href="{% url 'IGR' %}">
                        <span class="item">Mis ingresos</span>
                    </a></li>
                    <li><a href="#">
                        <span class="item">Mis recolectores</span>
                    </a></li>
                    <li><a href="#">
                        <span class="item">Recolectores</span>
                    </a></li>
                </ul>
                <div class="inputfield">
                <a class="btn" href="{% url 'LOGOUT' %}">Cerrar sesion</a>
                  </div>
                <div class="logo">
                    <img src="{% static 'imagen/logo2.png' %}" alt="">
                </div>
            </div>
              <!--Menu bar-->
             <div class="section">
                <div class="top_navbar">
                <div class="hamburger">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
            </div>  
        </div>
        <!--Formulario-->
        <div class="title">
            Bienvenido {{user.first_name}} {{user.last_name}}
          </div>
        <div class="register">
            <div class="logo">
                <img src="{% static 'imagen/logo2.png' %}" alt="">
            </div>
            <div class="title">
              formulario ingreso de residuos
            </div>
            <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="inputfield">
                  <label>{{msg}}</label>
                  <div class="inputfield">
                    <label>nombre</label>
                    <input type="text" class="input"name="nombre">
                 </div> 
                 <div class="inputfield">
                    <label>apellido</label>
                    <input type="text" class="input" name="apellido">
                 </div> 
                 <div class="inputfield">
                    <label>correo</label>
                    <input type="text" class="input" name="correo">
                 </div> 
                 <div class="inputfield">
                    <label>nomusuario</label>
                    <input type="text" class="input" name="nomusuario">
                 </div> 
                 <div class="inputfield">
                    <label>contraseña</label>
                    <input type="password" class="input" name="contrasena">
                 </div> 
               </div>
               <div class="inputfield">
                <input type="submit" value="registrar" class="btn">
              </div>
             </form>
            </div>
        </div>	
      

    </div>
    <script>
        var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click",function(){
            document.querySelector("body").classList.toggle("active");
        })
    </script>

</body>
</html>